@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "AvenirNext LT Pro";
}

header {
  background-color: #323232;
  background-size: cover;
  padding: 1rem;
  border-bottom: 0.0625rem stroke #E1E1E1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .navbar {
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }
}

.navbar__title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  max-height: 1.25rem;
  max-width: 7.5rem;
}
@media (min-width: 768px) {
  .navbar__title-container {
    font-size: 3.75rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .navbar__title-container {
    font-size: 3.75rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.navbar__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 50%;
  padding: 0rem;
  font-size: 0.875rem;
  font-weight: 600;
  max-height: 1.375rem;
}
@media (min-width: 768px) {
  .navbar__list {
    font-size: 1.5rem;
    max-height: 2rem;
    flex-direction: row;
    padding: 2rem;
  }
}
@media (min-width: 1200px) {
  .navbar__list {
    font-size: 1.5rem;
    max-height: 2rem;
    flex-direction: row;
    padding: 2rem;
  }
}
.navbar__item {
  margin: 0rem;
}
.navbar__second-item {
  margin: 0rem;
}
.navbar__link {
  color: #AFAFAF;
  text-decoration: none;
  padding: 0rem;
}
.navbar__link--active, .navbar__link:hover {
  border-bottom: 3px solid #FFFFFF;
  color: #FFFFFF;
  padding-bottom: 1.85rem;
  max-width: 0.875rem;
}
@media (min-width: 768px) {
  .navbar__link--active, .navbar__link:hover {
    padding-bottom: 3.5rem;
  }
}
@media (min-width: 1200px) {
  .navbar__link--active, .navbar__link:hover {
    padding-bottom: 3.5rem;
  }
}
.navbar__link:hover {
  color: #000000;
  transition: 0.4s;
}

.hero-section {
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/hero-bio.jpg);
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50vh;
  color: #FFFFFF;
  padding: 1rem;
}
@media (min-width: 768px) {
  .hero-section {
    height: 140vh;
  }
}
@media (min-width: 1200px) {
  .hero-section {
    height: 170vh;
  }
}
.hero-section__hero-title {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .hero-section__hero-title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
  }
}
@media (min-width: 1200px) {
  .hero-section__hero-title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
  }
}

.about-quote {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}
.about-quote__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin: 0rem 1rem;
}
@media (min-width: 768px) {
  .about-quote__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 1200px) {
  .about-quote__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1rem;
  }
}
.about-quote__container {
  display: flex;
  flex-direction: column;
  margin: 0rem 1rem;
}
@media (min-width: 768px) {
  .about-quote__container {
    margin: 0rem 6rem;
  }
}
@media (min-width: 1200px) {
  .about-quote__container {
    margin: 0rem 14rem;
  }
}
.about-quote__by-vocalist {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  margin-bottom: -0.5rem;
}
@media (min-width: 768px) {
  .about-quote__by-vocalist {
    font-size: 1.5rem;
    max-height: 2rem;
    margin-bottom: 2rem;
  }
}
@media (min-width: 1200px) {
  .about-quote__by-vocalist {
    font-size: 1.5rem;
    max-height: 2rem;
    margin-bottom: 1rem;
  }
}
.about-quote__vocalist-name {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .about-quote__vocalist-name {
    font-size: 1.5rem;
    max-height: 2rem;
  }
}
@media (min-width: 1200px) {
  .about-quote__vocalist-name {
    font-size: 1.5rem;
    max-height: 2rem;
  }
}

.about-musicians {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  margin: 0rem 1rem;
}
.about-musicians__title {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .about-musicians__title {
    font-size: 1.5rem;
    max-height: 2rem;
    margin: 2rem 5rem 1rem 5rem;
  }
}
@media (min-width: 1200px) {
  .about-musicians__title {
    font-size: 1.5rem;
    max-height: 2rem;
    margin: 2rem 13rem 1rem 13rem;
  }
}

.paragraph-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0rem 1rem;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .paragraph-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0rem 5rem 1rem 6rem;
  }
}
@media (min-width: 1200px) {
  .paragraph-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0rem 14rem 1rem 14rem;
  }
}
.paragraph-section__paragraph {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .paragraph-section__paragraph {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 1200px) {
  .paragraph-section__paragraph {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.photo-gallery-section {
  background-color: #FAFAFA;
  background-size: cover;
}

.photo-title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  padding-top: 1rem;
  margin: 0.5rem 1rem -0.5rem 1rem;
}
@media (min-width: 768px) {
  .photo-title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
    padding-top: 3rem;
    margin: 0.5rem 1rem -0.5rem 1rem;
  }
}
@media (min-width: 1200px) {
  .photo-title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
    padding-top: 3rem;
    margin: 2rem 1rem 1rem 6rem;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .gallery {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .gallery {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0rem 5rem;
  }
}
.gallery__item {
  padding: 1rem;
}
@media (min-width: 768px) {
  .gallery__item {
    width: 33%;
  }
}
@media (min-width: 1200px) {
  .gallery__item {
    width: 33%;
  }
}
.gallery__image {
  width: 100%;
}/*# sourceMappingURL=bio.css.map */