@use "./partials/mixins" as *;
@use "./partials/fonts" as *;
@use "./partials/colors" as *;

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'AvenirNext LT Pro';
}

header {
    background-color: $color-bandsite-black;
    background-size: cover;
    padding: 1rem;
    /*border-bottom: 0.0625rem stroke $color-mercury;*/ 
}

.navbar {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    color: $color-white; 
    @include tablet {
        flex-direction: row;
        justify-content: left;
        align-items: center;
        margin: 0rem 1rem 0rem 2rem;
    }
    @include desktop {
        flex-direction: row;
        justify-content: left;
        align-items: center;
        margin: 0rem 1rem 0rem 6rem;
    }
    &__title-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        @include page-header-mobile-logo;
        @include tablet {
            font-size: 3.75rem;
            line-height: 4.25rem;
            flex-direction: row;
            width: 20%;
            margin-right: 0.5rem;
            padding-bottom: 1rem;
        }
        @include desktop {
            font-size: 3.75rem;
            line-height: 4.25rem;
            flex-direction: row;
            width: 20%;
            margin-right: -5rem;
        }
    }
    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        width: 100%;
        padding: 0rem;
        font-size: 0.75rem;
        font-weight: 600;
        max-height: 1.375rem;
        padding-top: 0.5rem;
        @include tablet {
            font-size: 1rem;
            max-height: 2rem;
            flex-direction: row;
            width: 80%;
   
        }
        @include desktop {
            font-size: 1rem;
            max-height: 2rem;
            flex-direction: row;
            width: 80%;
        } 
    }
    &__item {
        width: 50%;
        margin: auto;    
    }
    &__second-item {
        width: 50%;
        margin: auto;
        @include tablet {
            margin-left: -13rem;
        }
        @include desktop {
            margin-left: -28rem;
        }
    }
    &__link {
        color: $color-silver;
        text-decoration: none;
        &--active {
            border-bottom: 3px solid $color-white;
            color: $color-white;
            padding-bottom: 0.85rem;
            border-width: 50%;
            /*max-width: 0.875rem;*/
            
            @include tablet {
                padding-bottom: 1rem;
            }
            @include desktop {
                padding-bottom: 1rem;
            }
        }

        &:hover {
            @extend .navbar__link--active;
            color: $color-bandsite-dark-black;
            transition: 0.4s;
        }
    }
}

.hero-section {
    display: flex;
    background-image: linear-gradient(rgba($color-bandsite-dark-black, 0.5), rgba($color-bandsite-dark-black, 0.5)), url(../assets/images/hero-bio.jpg);
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50vh;
    color: $color-white;
    padding: 1rem;
    @include tablet {
        height: 140vh;
    }
    @include desktop {
        height: 170vh;
    }
    &__title {
        font-size: 2rem;
        line-height: 2rem; 
        font-weight: 600;
        @include tablet {
            font-size: 2.25rem;
            line-height: 2.75rem;
            font-weight: 600;
            margin: 0rem 1rem 0rem 2rem;
        }
        @include desktop {
            font-size: 2.25rem;
            line-height: 2.75rem;
            font-weight: 600;
            margin: 2rem 1rem 1rem 6rem;
        }
    }
}

.about-quote {
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    &__title {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 600;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        margin: 0rem 1rem;
        @include tablet {
            font-size: 2.25rem;
            line-height: 2.75rem;
            font-weight: 600;
            padding-top: 3rem;
            margin: 0rem 1rem 0rem 2rem;
        }
        @include desktop {
            font-size: 2.25rem;
            line-height: 2.75rem;
            font-weight: 600;
            padding-top: 3rem;
            margin: 2rem 1rem 1rem 6rem;
        } 
    }
    &__container {
        display: flex;
        flex-direction: column;
        margin: 0rem 1rem;
        @include tablet {
            margin: 0rem 6rem;    
        }
        @include desktop {
            margin: 0rem 14rem;   
        }
    }
    &__by-vocalist {
        font-size: 0.875rem;
        line-height: 1.375rem;
        font-weight: 600;
        margin-bottom: -0.5rem;
        @include tablet {
            font-size: 1.5rem;
            max-height: 2rem;
            margin-bottom: 2rem; 
        }
        @include desktop {
            font-size: 1.5rem;
            max-height: 2rem;
            margin-bottom: 1rem;
        }
    }
    &__vocalist-name {
        font-size: 0.875rem;
        line-height: 1.375rem;
        font-weight: 600;
        @include tablet {
            font-size: 1.5rem;
            max-height: 2rem; 
        }
        @include desktop {
            font-size: 1.5rem;
            max-height: 2rem;
        } 
    }
}

.about-musicians {
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    margin: 0rem 1rem;
    &__title {
        font-size: 0.875rem;
        line-height: 1.375rem;
        font-weight: 600;
        @include tablet {
            font-size: 1.5rem;
            max-height: 2rem;
            margin: 2rem 5rem 1rem 5rem; 
        }
        @include desktop {
            font-size: 1.5rem;
            max-height: 2rem;
            margin: 2rem 13rem 1rem 13rem; 
        } 
    }
}

.paragraph-section {
    display: flex;
    flex-direction: column;
    margin: 0rem 0rem;
    /*justify-content: center;*/
    align-items: center;
   
    
    
    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        margin: 0rem 8rem 1rem 5rem; 
       
       
    }
    @include desktop {
        flex-direction: row;
        justify-content: space-between;
        margin: 0rem 13rem 1rem 13rem; 
    }
    &__paragraph-left {
        font-size: 0.8125rem;
        line-height: 1.125rem;
        font-weight: 400;
        @include tablet {
            font-size: 0.875rem;
            line-height: 1.375rem;
        }
        @include desktop {
            font-size: 0.875rem;
            line-height: 1.375rem;
        }
    }
    &__paragraph-right {
        font-size: 0.8125rem;
        line-height: 1.125rem;
        font-weight: 400;
        @include tablet {
            font-size: 0.875rem;
            line-height: 1.375rem;
            margin-left: 2rem;
        }
        @include desktop {
            font-size: 0.875rem;
            line-height: 1.375rem;
        }
        }
    }


.photo-gallery-section {
    background-color: $color-alabaster;
    background-size: cover;
}

.photo-title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    padding-top: 1rem;
    margin: 0.5rem 1rem -0.5rem 1rem;
    @include tablet {
        font-size: 2.25rem;
        line-height: 2.75rem;
        font-weight: 600;
        padding-top: 3rem;
        margin: 0.5rem 2rem 0.5rem 2rem;
    }
    @include desktop {
        font-size: 2.25rem;
        line-height: 2.75rem;
        font-weight: 600;
        padding-top: 3rem;
        margin: 2rem 1rem 1rem 6rem;
    } 
}

.gallery {
    display: flex;
    flex-direction: column;
    @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0rem 1rem; 
    }
    @include desktop {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0rem 5rem;
    }
    &__item {
        padding: 1rem;
        
        @include tablet {
            width: 33%;
        }
        @include desktop {
            width: 33%;   
        }
    }
    &__image {
        width: 100%;
    }
}

footer {
    background-color: $color-bandsite-black;
    padding: 1rem;
    color: $color-white;
}

.social-section {
    display: flex;
    &__title {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 600;
        @include tablet {
            flex-direction: row;
            font-size: 2.25rem;
            line-height: 2.75rem;
            padding-top: 2rem;
            margin: 0rem 1rem;
        }
        @include desktop {
            flex-direction: row;
            font-size: 2.25rem;
            line-height: 2.75rem;
            margin: 0rem 5rem;
        }
    }
}

.social-links {
    display: flex;
    padding: 0rem;
    margin-left: -1rem;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    @include tablet {
        justify-content: center;
        align-items:center;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: -3rem;
        margin-left: -6rem;
    }
    @include desktop {
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: -3rem;
        margin-left: -25rem;
    }
    &__image{
        flex-direction: row;
        padding: 1rem;
        flex-grow: 2;
    }
}

.bandsite-agents-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0rem;
    @include tablet {
        flex-direction: row; 
    }
    @include desktop {
        flex-direction: row;    
    }
    &__name {
        @include subheader-mobile-text;
        flex-direction: row;
        margin: 1rem 1rem -1rem 0rem;
    }
    @include tablet {
        flex-direction: row;
        font-size: 1.5rem;
        line-height: 2rem;
        padding-top: 0rem;
        margin: 0rem 1rem;
    }
    @include desktop {
        flex-direction: row;
        font-size: 1.5rem;
        line-height: 2rem;
        padding-top: 0rem;
        margin: 0rem 1rem;
    }
    &__title {
        flex-direction: row;
        @include subheader-mobile-text;
    }
    @include tablet {
        flex-direction: row;
        font-size: 1.5rem;
        line-height: 2rem;
        padding-top: 0rem;
        margin: 0rem 1rem;
    }
    @include desktop {
        flex-direction: row;
        font-size: 1.5rem;
        line-height: 2rem;
        padding-top: 0rem;
        margin: 0rem 1rem;
    }
    &__address {
        flex-direction: row;
        @include subheader-mobile-reguler-weight;
    }
    @include tablet {
        flex-direction: row;
    }
    @include desktop {
        flex-direction: row;
    }
    &__address__two {
        margin-top: -1rem;
    }
    &__email {
        flex-direction: row;
        @include subheader-mobile-reguler-weight;
    }
}

.bandsite-title {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 4rem 0rem 1rem 0rem;
    @include page-header-mobile-logo;
    @include tablet {
        font-size: 3.75rem;
        line-height: 4.25rem;
        flex-direction: row;
        margin: -2rem 1rem 0rem 1rem;
        padding-bottom: 1rem;   
    }
    @include desktop {
        font-size: 3.75rem;
        line-height: 4.25rem;
        flex-direction: row;
    }
}

.copyright-section {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 400;
    @include tablet {
        font-size: 0.875rem;
        line-height: 1.25rem;
        margin: 1rem;
    }
    @include desktop {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}