@use "./partials/mixins" as *;
@use "./partials/fonts" as *;
@use "./partials/colors" as *;

.hero-section {
    display: flex;
    background-image: linear-gradient(rgba($color-bandsite-dark-black, 0.5), rgba($color-bandsite-dark-black, 0.5)), url(../assets/images/hero-bio.jpg);
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50vh;
    color: $color-white;
    padding: 1rem;
    @include tablet {
        height: 130vh;
    }
    @include desktop {
        height: 170vh;
    }
    &__title {
        font-size: 2rem;
        line-height: 2rem; 
        font-weight: 600;
        @include tablet {
            font-size: 4rem;
            line-height: 2.75rem;
            font-weight: 600;
            margin: 0rem 1rem 0rem 1rem;
        }
        @include desktop {
            font-size: 4rem;
            line-height: 2.75rem;
            font-weight: 600;
            margin: 2rem 1rem 1rem 6rem;
        }
    }
}

.about-quote {
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    &__title {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 600;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        margin: 0rem 1rem;
        @include tablet {
            font-size: 2.25rem;
            line-height: 2.75rem;
            font-weight: 600;
            padding-top: 3rem;
            margin: 0rem 1rem 0rem 2rem;
        }
        @include desktop {
            font-size: 2.25rem;
            line-height: 2.75rem;
            font-weight: 600;
            padding-top: 3rem;
            margin: 2rem 1rem 1rem 6rem;
        } 
    }
    &__container {
        display: flex;
        flex-direction: column;
        margin: 0rem 1rem;
        @include tablet {
            margin: 0rem 6rem;    
        }
        @include desktop {
            margin: 0rem 14rem;   
        }
    }
    &__by-vocalist {
        font-size: 0.875rem;
        line-height: 1.375rem;
        font-weight: 600;
        margin-bottom: -0.5rem;
        @include tablet {
            font-size: 1.5rem;
            max-height: 2rem;
            margin-bottom: 2rem; 
        }
        @include desktop {
            font-size: 1.5rem;
            max-height: 2rem;
            margin-bottom: 1rem;
        }
    }
    &__vocalist-name {
        font-size: 0.875rem;
        line-height: 1.375rem;
        font-weight: 600;
        @include tablet {
            font-size: 1.5rem;
            max-height: 2rem; 
        }
        @include desktop {
            font-size: 1.5rem;
            max-height: 2rem;
        } 
    }
}

.about-musicians {
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    margin: 0rem 1rem;
    &__title {
        font-size: 0.875rem;
        line-height: 1.375rem;
        font-weight: 600;
        @include tablet {
            font-size: 1.5rem;
            max-height: 2rem;
            margin: 2rem 5rem 1rem 5rem; 
        }
        @include desktop {
            font-size: 1.5rem;
            max-height: 2rem;
            margin: 2rem 13rem 1rem 13rem; 
        } 
    }
}

.paragraph-section {
    display: flex;
    flex-direction: column;
    margin: 0rem;
    align-items: center;
    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        margin: 0rem 8rem 1rem 5rem;   
    }
    @include desktop {
        flex-direction: row;
        justify-content: space-between;
        margin: 0rem 13rem 1rem 13rem; 
    }
    &__paragraph-left {
        font-size: 0.8125rem;
        line-height: 1.125rem;
        font-weight: 400;
        @include tablet {
            font-size: 0.875rem;
            line-height: 1.375rem;
        }
        @include desktop {
            font-size: 0.875rem;
            line-height: 1.375rem;
        }
    }
    &__paragraph-right {
        font-size: 0.8125rem;
        line-height: 1.125rem;
        font-weight: 400;
        @include tablet {
            font-size: 0.875rem;
            line-height: 1.375rem;
            margin-left: 2rem;
        }
        @include desktop {
            font-size: 0.875rem;
            line-height: 1.375rem;
        }
    }
}

.photo-gallery-section {
    background-color: $color-alabaster;
    background-size: cover;
    margin: -1rem;
    padding-bottom: 2rem;
}

.photo-title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    padding-top: 1rem;
    margin: 0.5rem 1rem -0.5rem 1rem;
    @include tablet {
        font-size: 2.25rem;
        line-height: 2.75rem;
        font-weight: 600;
        padding-top: 3rem;
        margin: 0.5rem 2rem 0.5rem 2rem;
    }
    @include desktop {
        font-size: 2.25rem;
        line-height: 2.75rem;
        font-weight: 600;
        padding-top: 3rem;
        margin: 2rem 1rem 1rem 6rem;
    } 
}

.gallery {
    display: flex;
    flex-direction: column;
    margin: 0rem;
    @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0rem 1rem; 
    }
    @include desktop {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0rem 5rem;
    }
    &__item {
        padding: 1rem 1rem 0rem 1rem;
        
        @include tablet {
            width: 33%;
        }
        @include desktop {
            width: 33%;   
        }
    }
    &__image {
        width: 100%;
    }
}

.comment-section {
    color: $color-bandsite-black;
    &__title {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 600;
        padding-top: 1rem;
    }
    @include tablet {
        font-size: 2.25rem;
        line-height: 2.75rem;
        font-weight: 600;
        padding-top: 2rem;
        margin: 0rem 2rem 1rem 1rem;
    }
    @include desktop {
        font-size: 2.25rem;
        line-height: 2.75rem;
        font-weight: 600;
        padding-top: 3rem;
        margin: 1rem 1rem 1rem 5rem;
    } 
}

.form-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
    @include tablet {
        justify-content: left;
        margin: 1rem 2rem;
    }
    @include desktop {
        justify-content: center;
        margin: 1rem 10rem;
    }
    &__user-pic {
        display: flex;
        align-items: flex-start;
        justify-content: left;
        width: 20%;
        padding-top: 1rem;  
        @include tablet {
            
            width: 10%;
            padding-top: 1rem;
        }
        @include desktop {
            padding-top: 1rem;
            width: 10%;

        }
    }
    &__user-pic__image {
        border-radius: 50%;
        width: 2.25rem;
        height: 2.25rem;
        @include tablet {
            width: 3rem;
            height: 3rem;
        }
        @include desktop {
            width: 3rem;
            height: 3rem;
        }
    }
    &__container {
        display: flex;
        justify-content: right;
        width: 80%;
        margin-left: 1rem;
        @include tablet {
            justify-content: left;
            width: 90%;  
        }
        &__user {
            width: 100%;
        }
        &__fullname {
            background-color: $color-alabaster;
            height: 3rem;
            width: 100%;
            border: 1px solid $color-mercury;
            border-radius: 0.25rem;
            margin-bottom: 1.5rem;
            @include tablet {
            height: 3rem;
            width: 100%;
            }
        }
        &__fullname::placeholder {
            color: $color-bandsite-black;
            font-size: 1rem;
            font-weight: 400;
            padding: 0.75rem;
            font-weight: 400;
            font-family: 'AvenirNext LT Pro';
        }
        &__comment {
            background-color: $color-alabaster;
            height: 6rem;
            width: 100%;
            border: 1px solid $color-mercury;
            border-radius: 0.25rem;
            margin: 0.5rem 0rem 1rem 0rem;
        }
        &__comment::placeholder {
            color: $color-bandsite-black;
            font-size: 1rem;
            font-weight: 400;
            padding: 0.75rem;
            font-weight: 400;
            font-family: 'AvenirNext LT Pro';
        }
        &__submitButton {
            background-color: $color-bandsite-black;
            color: $color-white;
            font-weight: 600;
            border-radius: 0.25rem;;
            height: 2.5rem;
            width: 100%;
        }
        &__submit:hover {
            background-color: $color-bandsite-dark-black;
            color: $color-white;
        }
    }
}

/*form {
    width: 100%;
}*/

label {
    color: $color-silver;
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0.25rem 0rem;
}
/*
input {
    background-color: $color-alabaster;
    height: 3rem;
    width: 100%;
    border: 1px solid $color-mercury;
    border-radius: 0.25rem;
    margin-bottom: 1.5rem;
    @include tablet {
        height: 3rem;
        width: 100%;
    }
}

input::placeholder {
    color: $color-bandsite-black;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.75rem;
    font-weight: 400;
    font-family: 'AvenirNext LT Pro';
}

textarea {
    background-color: $color-alabaster;
    height: 6rem;
    width: 100%;
    border: 1px solid $color-mercury;
    border-radius: 0.25rem;
    margin: 0.5rem 0rem 1rem 0rem;
}

textarea::placeholder {
    color: $color-bandsite-black;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.75rem;
    font-weight: 400;
    font-family: 'AvenirNext LT Pro';
}

button {
    background-color: $color-bandsite-black;
    color: $color-white;
    font-weight: 600;
    border-radius: 0.25rem;;
    height: 2.5rem;
    width: 100%;
}

button:hover {
    background-color: $color-bandsite-dark-black;
    color: $color-white;
}*/

.comment-entered-section {
    display: flex;
    border-top: 1px solid $color-mercury;
    flex-direction: column;
    margin-bottom: 0.5rem;
    width: 100%;
    @include tablet {
        padding: 1rem 3rem;
    }
    @include desktop {
        justify-content: center;
        padding: 0rem 15rem;
    }
}

.comment-card {
        display: flex;
        border-bottom: 1px solid $color-mercury;  
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        width: 100%;
        padding-bottom: 1rem;
        padding-top: 1rem; 

    &__user-profile {
        flex-direction: column;
        align-items: flex-start;
        justify-content: left;
        width: 20%;
        height: 100%;
    }
    &__user-profile__circle {
        background-color: $color-mercury;
        border-radius: 50%;
        width: 2.25rem;
        height: 2.25rem;
        @include tablet {
            width: 3rem;
            height: 3rem;
        }
        @include desktop {
            width: 3rem;
            height: 3rem;
        }
    }
    &__top-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 80%;
        height: 20%;  
    }
    &__top-container__fullname {
        justify-content: left;
        align-items: center;
        font-size: 1rem; 
        font-weight: 600;   
    }
    &__top-container__dateEntered {
        color: $color-silver;
        font-size: 1rem;
        justify-content: right;
        align-items: center;   
    }
    &__comment {
        flex-direction: row;
        justify-content: right;
        align-items: center;
        font-size: 1rem;
        width: 80%;
        height: 80%; 
        padding-left: 0rem;  
    }
}

