@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "AvenirNext LT Pro";
  margin: 0;
}

header {
  background-color: #323232;
  background-size: cover;
  /*border-bottom: 0.0625rem stroke $color-mercury;*/
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #FFFFFF;
  padding-bottom: 0.4rem;
}
@media (min-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 0rem 1rem 0rem 2rem;
    padding-bottom: 1.2rem;
  }
}
@media (min-width: 1200px) {
  .navbar {
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 0rem 1rem 0rem 6rem;
  }
}
.navbar__title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 0rem 2rem 0rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  max-height: 1.25rem;
  max-width: 7.5rem;
}
@media (min-width: 768px) {
  .navbar__title-container {
    font-size: 3.75rem;
    line-height: 4.25rem;
    flex-direction: row;
    width: 20%;
    margin-right: 0.5rem;
    padding-bottom: 1rem;
  }
}
@media (min-width: 1200px) {
  .navbar__title-container {
    font-size: 3.75rem;
    line-height: 4.25rem;
    flex-direction: row;
    width: 20%;
    margin-right: -10rem;
  }
}
.navbar__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
  font-size: 0.75rem;
  font-weight: 600;
  max-height: 1.375rem;
}
@media (min-width: 768px) {
  .navbar__list {
    font-size: 1rem;
    max-height: 2rem;
    flex-direction: row;
    width: 80%;
    padding-top: 3rem;
    margin-left: -8rem;
  }
}
@media (min-width: 1200px) {
  .navbar__list {
    font-size: 0.75rem;
    max-height: 2rem;
    flex-direction: row;
    width: 80%;
  }
}
.navbar__item {
  width: 50%;
  text-align: center;
}
.navbar__second-item {
  width: 50%;
  text-align: center;
}
@media (min-width: 768px) {
  .navbar__second-item {
    margin-left: -11rem;
  }
}
@media (min-width: 1200px) {
  .navbar__second-item {
    margin-left: -22rem;
    padding-bottom: 0.5rem;
  }
}
.navbar__link {
  display: inline-block;
  color: #AFAFAF;
  text-decoration: none;
  width: 100%;
  padding-bottom: 1rem;
}
.navbar__link--active, .navbar__link:hover {
  border-bottom: 4px solid #FFFFFF;
  color: #FFFFFF;
  margin: 0rem;
  width: 100%;
}
@media (min-width: 768px) {
  .navbar__link--active, .navbar__link:hover {
    padding-bottom: 1rem;
    width: 28%;
  }
}
@media (min-width: 1200px) {
  .navbar__link--active, .navbar__link:hover {
    border-bottom: 2px solid #FFFFFF;
    padding-bottom: 1.4rem;
    width: 15%;
  }
}
.navbar__link:hover {
  color: #000000;
  transition: 0.4s;
}

.hero-section {
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/hero-bio.jpg);
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50vh;
  color: #FFFFFF;
  padding: 1rem;
}
@media (min-width: 768px) {
  .hero-section {
    height: 130vh;
  }
}
@media (min-width: 1200px) {
  .hero-section {
    height: 170vh;
  }
}
.hero-section__title {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .hero-section__title {
    font-size: 4rem;
    line-height: 2.75rem;
    font-weight: 600;
    margin: 0rem 1rem 0rem 1rem;
  }
}
@media (min-width: 1200px) {
  .hero-section__title {
    font-size: 4rem;
    line-height: 2.75rem;
    font-weight: 600;
    margin: 2rem 1rem 1rem 6rem;
  }
}

.about-quote {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}
.about-quote__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin: 0rem 1rem;
}
@media (min-width: 768px) {
  .about-quote__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
    padding-top: 3rem;
    margin: 0rem 1rem 0rem 2rem;
  }
}
@media (min-width: 1200px) {
  .about-quote__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
    padding-top: 3rem;
    margin: 2rem 1rem 1rem 6rem;
  }
}
.about-quote__container {
  display: flex;
  flex-direction: column;
  margin: 0rem 1rem;
}
@media (min-width: 768px) {
  .about-quote__container {
    margin: 0rem 6rem;
  }
}
@media (min-width: 1200px) {
  .about-quote__container {
    margin: 0rem 14rem;
  }
}
.about-quote__by-vocalist {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  margin-bottom: -0.5rem;
}
@media (min-width: 768px) {
  .about-quote__by-vocalist {
    font-size: 1.5rem;
    max-height: 2rem;
    margin-bottom: 2rem;
  }
}
@media (min-width: 1200px) {
  .about-quote__by-vocalist {
    font-size: 1.5rem;
    max-height: 2rem;
    margin-bottom: 1rem;
  }
}
.about-quote__vocalist-name {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .about-quote__vocalist-name {
    font-size: 1.5rem;
    max-height: 2rem;
  }
}
@media (min-width: 1200px) {
  .about-quote__vocalist-name {
    font-size: 1.5rem;
    max-height: 2rem;
  }
}

.about-musicians {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  margin: 0rem 1rem;
}
.about-musicians__title {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .about-musicians__title {
    font-size: 1.5rem;
    max-height: 2rem;
    margin: 2rem 5rem 1rem 5rem;
  }
}
@media (min-width: 1200px) {
  .about-musicians__title {
    font-size: 1.5rem;
    max-height: 2rem;
    margin: 2rem 13rem 1rem 13rem;
  }
}

.paragraph-section {
  display: flex;
  flex-direction: column;
  margin: 0rem 0rem;
  /*justify-content: center;*/
  align-items: center;
}
@media (min-width: 768px) {
  .paragraph-section {
    flex-direction: row;
    justify-content: space-between;
    margin: 0rem 8rem 1rem 5rem;
  }
}
@media (min-width: 1200px) {
  .paragraph-section {
    flex-direction: row;
    justify-content: space-between;
    margin: 0rem 13rem 1rem 13rem;
  }
}
.paragraph-section__paragraph-left {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .paragraph-section__paragraph-left {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 1200px) {
  .paragraph-section__paragraph-left {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.paragraph-section__paragraph-right {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .paragraph-section__paragraph-right {
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin-left: 2rem;
  }
}
@media (min-width: 1200px) {
  .paragraph-section__paragraph-right {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.photo-gallery-section {
  background-color: #FAFAFA;
  background-size: cover;
  margin: -1rem;
}

.photo-title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  padding-top: 1rem;
  margin: 0.5rem 1rem -0.5rem 0rem;
}
@media (min-width: 768px) {
  .photo-title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
    padding-top: 3rem;
    margin: 0.5rem 2rem 0.5rem 2rem;
  }
}
@media (min-width: 1200px) {
  .photo-title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
    padding-top: 3rem;
    margin: 2rem 1rem 1rem 6rem;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  margin: 0rem -1rem;
}
@media (min-width: 768px) {
  .gallery {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0rem 1rem;
  }
}
@media (min-width: 1200px) {
  .gallery {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0rem 5rem;
  }
}
.gallery__item {
  padding: 1rem 1rem 0rem 1rem;
}
@media (min-width: 768px) {
  .gallery__item {
    width: 33%;
  }
}
@media (min-width: 1200px) {
  .gallery__item {
    width: 33%;
  }
}
.gallery__image {
  width: 100%;
}

footer {
  background-color: #323232;
  padding: 1rem;
  margin-top: 1rem;
  color: #FFFFFF;
  position: relative;
}
@media (min-width: 768px) {
  footer {
    margin-top: 3rem;
  }
}
@media (min-width: 1200px) {
  footer {
    margin-top: 2rem;
  }
}

.social-section {
  display: flex;
}
.social-section__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .social-section__title {
    flex-direction: row;
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-top: 2rem;
    margin: 0rem 2rem;
  }
}
@media (min-width: 1200px) {
  .social-section__title {
    flex-direction: row;
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin: 0rem 5rem;
  }
}

.social-links {
  display: flex;
  padding: 0rem;
  margin-left: -1rem;
  justify-content: left;
  align-items: center;
  flex-direction: row;
}
@media (min-width: 768px) {
  .social-links {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -3rem;
    margin-left: -5rem;
  }
}
@media (min-width: 1200px) {
  .social-links {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -3rem;
    margin-left: -25rem;
  }
}
.social-links__image {
  flex-direction: row;
  padding: 1rem;
  flex-grow: 2;
}

.bandsite-agents-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0rem;
}
@media (min-width: 768px) {
  .bandsite-agents-info {
    flex-direction: row;
    padding: 1rem;
  }
}
@media (min-width: 1200px) {
  .bandsite-agents-info {
    flex-direction: row;
    padding: 4rem;
  }
}
.bandsite-agents-info__name {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  flex-direction: row;
  margin: 1rem 1rem -1rem 0rem;
}
@media (min-width: 768px) {
  .bandsite-agents-info {
    flex-direction: row;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 0rem;
    margin: 0rem 1rem;
  }
}
@media (min-width: 1200px) {
  .bandsite-agents-info {
    flex-direction: row;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 0rem;
    margin: 0rem 1rem;
  }
}
.bandsite-agents-info__title {
  flex-direction: row;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .bandsite-agents-info {
    flex-direction: row;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 0rem;
    margin: 0rem 1rem;
  }
}
@media (min-width: 1200px) {
  .bandsite-agents-info {
    flex-direction: row;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 0rem;
    margin: 0rem 1rem;
  }
}
.bandsite-agents-info__address {
  flex-direction: row;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .bandsite-agents-info {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .bandsite-agents-info {
    flex-direction: row;
  }
}
.bandsite-agents-info__address__two {
  margin-top: -1rem;
}
.bandsite-agents-info__email {
  flex-direction: row;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
}

.bandsite-title {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 4rem 0rem 1rem 0rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  max-height: 1.25rem;
  max-width: 7.5rem;
}
@media (min-width: 768px) {
  .bandsite-title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    flex-direction: row;
    margin: -2rem 1rem 0rem 1rem;
    padding-bottom: 1rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
}
@media (min-width: 1200px) {
  .bandsite-title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    flex-direction: row;
    right: 6rem;
  }
}

.copyright-section {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .copyright-section {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 1rem 2rem;
  }
}
@media (min-width: 1200px) {
  .copyright-section {
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-left: 3rem;
    margin-top: -3rem;
  }
}/*# sourceMappingURL=bio.css.map */