@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "AvenirNext LT Pro";
  margin: 0;
}

header {
  background-color: #323232;
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #FFFFFF;
  width: 100%;
  padding-bottom: 0.4rem;
}
@media (min-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-bottom: 1.2rem;
  }
}
@media (min-width: 1200px) {
  .navbar {
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }
}
.navbar__title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 0rem 2rem 3rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  max-height: 1.25rem;
  max-width: 7.5rem;
}
@media (min-width: 768px) {
  .navbar__title-container {
    font-size: 3.75rem;
    line-height: 4.25rem;
    flex-direction: row;
    width: 40%;
    padding-bottom: 1rem;
  }
}
@media (min-width: 1200px) {
  .navbar__title-container {
    font-size: 3.75rem;
    line-height: 4.25rem;
    flex-direction: row;
    width: 40%;
    padding-left: 11rem;
  }
}
.navbar__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
  font-size: 0.75rem;
  font-weight: 600;
  max-height: 1.375rem;
}
@media (min-width: 768px) {
  .navbar__list {
    font-size: 1rem;
    max-height: 2rem;
    flex-direction: row;
    width: 60%;
    padding-top: 3rem;
  }
}
@media (min-width: 1200px) {
  .navbar__list {
    font-size: 0.75rem;
    max-height: 2rem;
    flex-direction: row;
    width: 60%;
  }
}
.navbar__item {
  width: 50%;
  text-align: center;
}
.navbar__second-item {
  width: 50%;
  text-align: center;
}
.navbar__link {
  display: inline-block;
  color: #AFAFAF;
  text-decoration: none;
  width: 100%;
  padding-bottom: 1rem;
}
.navbar__link--active, .navbar__link:hover {
  border-bottom: 4px solid #FFFFFF;
  color: #FFFFFF;
  margin: 0rem;
  width: 100%;
}
@media (min-width: 768px) {
  .navbar__link--active, .navbar__link:hover {
    padding-bottom: 1rem;
    width: 33%;
  }
}
@media (min-width: 1200px) {
  .navbar__link--active, .navbar__link:hover {
    border-bottom: 2px solid #FFFFFF;
    padding-bottom: 1.4rem;
    width: 15%;
  }
}
.navbar__link:hover {
  color: #000000;
  transition: 0.4s;
}

footer {
  background-color: #323232;
  padding: 1rem;
  margin-top: 1rem;
  color: #FFFFFF;
  position: relative;
}
@media (min-width: 768px) {
  footer {
    margin-top: 3rem;
  }
}
@media (min-width: 1200px) {
  footer {
    margin-top: 2rem;
  }
}

.social-section {
  display: flex;
}
.social-section__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .social-section__title {
    flex-direction: row;
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-top: 2rem;
    margin: 0rem 2rem;
  }
}
@media (min-width: 1200px) {
  .social-section__title {
    flex-direction: row;
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin: 0rem 5rem;
  }
}

.social-links {
  display: flex;
  padding: 0rem;
  margin-left: -1rem;
  justify-content: left;
  align-items: center;
  flex-direction: row;
}
@media (min-width: 768px) {
  .social-links {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -3rem;
    margin-left: -5rem;
  }
}
@media (min-width: 1200px) {
  .social-links {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -3rem;
    margin-left: -25rem;
  }
}
.social-links__image {
  flex-direction: row;
  padding: 1rem;
  flex-grow: 2;
}

.bandsite-agents-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0rem;
}
@media (min-width: 768px) {
  .bandsite-agents-info {
    flex-direction: row;
    padding: 1rem;
  }
}
@media (min-width: 1200px) {
  .bandsite-agents-info {
    flex-direction: row;
    padding: 4rem;
  }
}
.bandsite-agents-info__name {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  flex-direction: row;
  margin: 1rem 1rem -1rem 0rem;
}
@media (min-width: 768px) {
  .bandsite-agents-info {
    flex-direction: row;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 0rem;
    margin: 0rem 1rem;
  }
}
@media (min-width: 1200px) {
  .bandsite-agents-info {
    flex-direction: row;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 0rem;
    margin: 0rem 1rem;
  }
}
.bandsite-agents-info__title {
  flex-direction: row;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .bandsite-agents-info {
    flex-direction: row;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 0rem;
    margin: 0rem 1rem;
  }
}
@media (min-width: 1200px) {
  .bandsite-agents-info {
    flex-direction: row;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 0rem;
    margin: 0rem 1rem;
  }
}
.bandsite-agents-info__address {
  flex-direction: row;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .bandsite-agents-info {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .bandsite-agents-info {
    flex-direction: row;
  }
}
.bandsite-agents-info__address__two {
  margin-top: -1rem;
}
.bandsite-agents-info__email {
  flex-direction: row;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
}

.bandsite-title {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 4rem 0rem 1rem 0rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  max-height: 1.25rem;
  max-width: 7.5rem;
}
@media (min-width: 768px) {
  .bandsite-title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    flex-direction: row;
    margin: -2rem 1rem 0rem 1rem;
    padding-bottom: 1rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
}
@media (min-width: 1200px) {
  .bandsite-title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    flex-direction: row;
    right: 6rem;
  }
}

.copyright-section {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .copyright-section {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 1rem 2rem;
  }
}
@media (min-width: 1200px) {
  .copyright-section {
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-left: 3rem;
    margin-top: -3rem;
  }
}/*# sourceMappingURL=global.css.map */